/* 
Extra small <576px 
Small ≥576px (sm)
Medium ≥768px (md)
Large ≥992px (lg)
X-Large ≥1200px (xl)
XX-Large ≥1400px (xxl)
*/

/* HEADER */

header {
    background-color: #2c3e50;
}

.navbar-toggler {
    border: 1px solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* .navbar-toggler-icon {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(301deg) brightness(105%) contrast(101%);
} */

/* GENERIC */

body section:nth-child(odd), footer {
    color: white;
}

h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* JUMBO */

.jumbo {
    background-color: #1abc9c;
}

.bar {
    height: 6px;
    border-radius: 3px;
}

.jumbo .bar, #about .bar {
    background-color: white;
}

/* PORTFOLIO */

#portfolio .bar, #contact-me .bar {
    background-color: black;
}

#portfolio .img-fluid {
    border-radius: 10px;
}

/* ABOUT */

#about {
    margin-top: 20px;
    background-color: #1abc9c;
    padding-bottom: 20px;
}

#about .btn {
    border: 1px solid white;
}


/* CONTACT ME */

#contact-me textarea {
    height: 150px;
}

#contact-me .form-control {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid gray;
    box-shadow: none;
    padding: 0;
}

#contact-me .form-label {
    margin-bottom: 0;
    font-weight: bold;
}

#contact-me .btn {
    background-color: #1abc9c;
    border: none;
}

/* INFO */

#info {
    background-color: #3a546d;
    padding: 30px 0;
    margin-top: 50px;
}

#info i {
    border: 1px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 2px;
}

.text-green {
    color: green;
}

footer {
    background-color: #2c3e50;
}